# VS Code files for those working on multiple tools
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Node
node_modules/
package*.json

# Common OSX files
**/.DS_Store
.AppleDouble
.LSOverride
/.metadata/

